.container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 30px;
    border: 1px solid; 
    margin-top: 6%;
    width: auto;
   }
   .box{
     width: 300px;
     border: 1px solid;
   }
 
